*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.container{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    border: 1px solid #000;
    padding: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
input::placeholder {
    font-weight: 400;
    font-size: 11px;
    opacity: 0.8;
    text-align: center;
    padding: 10px;
}
#inputFiled{
    padding: 10px 0px;
    text-align: center;
    margin: 20px 0px;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    background: rgb(241, 241, 241);
}
input:focus{
    outline: none;
}
#copyBtn{
   padding: 0.9em;
   background: linear-gradient(0deg, rgba(87,132,245,1) 0%, rgba(174,87,245,1) 100%);
   border-radius: 5px;
   border: none;
   color: #fff;
}
#genBtn{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background: rgb(87,132,245);
    color: #fff;
    font-weight: bold;
    background: linear-gradient(0deg, rgba(87,132,245,1) 0%, rgba(174,87,245,1) 100%);
}
